#loanblock{
    position: absolute;
    background: whitesmoke;
    background-size: 100% 100%;
    height: 1000px;
    width: 1940px;
    top: 80px;
    overflow-y:scroll;

}

#loanblock button:hover{
    transition: 200ms;
    box-shadow: -6px -4px 3px 3px rgb(107, 107, 0);
}
 
  
  #loanoptions{
    width: 1500px;
    height: 780px;
    background: rgb(74,9,93);
    background: radial-gradient(circle, rgba(74,9,93,1) 0%, rgba(20,6,73,1) 100%);
    border-radius: 30px;
    margin-left: 250px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px 3px rgb(70, 70, 70);
}

#applyloan, #newquery, #pending, #prevloans{
    cursor: pointer;
    margin-top: 150px;
    margin-left: 250px;
    height: 80px;
    width: 350px;
    font-size: 30px;
    background-color: yellow;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 4px 6px 3px 3px rgb(107, 107, 0);
    border: none;


}
#newquery{
   margin-top: 50px;
}


#prevloans,#pending{
    margin-top: 60px;
    margin-left: 200px;
}


p{
    color: white;
    font-size: 20px;
    margin-top: 220px;
    margin-left: 300px;
}
