#settingsblock{
    position: absolute;
    background: whitesmoke;
    background-size: 100% 100%;
    height: 1000px;
    width: 1940px;
    top: 80px;
    overflow-y:scroll;

}
 
#settingscontent{
    cursor: pointer;
    width: 700px;
    height: 695px;
    background: rgb(74,9,93);
    background: radial-gradient(circle, rgba(74,9,93,1) 0%, rgba(20,6,73,1) 100%);
    border-radius: 30px;
    margin-left: 650px;
    margin-top: 50px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 3px rgb(70, 70, 70);
}

#settingscontent div{
    height: 50px;
    width: 100%;
    color: white;
    border-bottom: 1px solid black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    height: 75px;
    padding-top: 40px;

}


#settingscontent b{
   margin-top: 20px;
}
#settingscontent div:hover{
    background-color: yellow;
    color: black;
}